@import url('https://fonts.googleapis.com/css?family=Merriweather');
body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: roboto;
    color: #858585;
    text-align: justify;
}

header {
    text-align: center;
    color: white;
    font-size: 17px;
    background-size: cover;
    background-color: #ccc;
    height: 672px;
    top: 0px;
    padding-top: 1%;
}

li a {
    color: white;
    border: 1px solid white;
}

a {
    color: white;
}

hr {
    border: 2px solid #1b8c30;
    margin-left: 0;
    margin-right: 0;
}

#table {
    height: 100%;
    position: relative;
    margin: 0 auto;
    border: solid 1px red;
}

header img {
    /*position: fixed;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.navbar-nav>li {
    margin-left: 2vh;
    margin-right: 2vh;
}

#Special_attention {
    padding: 2%;
    background-color: #1b8c30;
    color: white;
    font-size: 3vh;
}

#Special_attention h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

td>h4 {
    color: #1b8c30;
    text-align: start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1b8c30;
    text-align: start;
}

div.container {
    margin-bottom: 4vh !important;
}

thead>tr th {
    vertical-align: middle !important;
}

thead {
    background-color: #7bc8c9;
    color: white;
    text-align: center !important;
}

#dotted_border {
    border: 1px dotted #1b8c30;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 1024px) {
    article {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}